@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Mantenimiento de Bancos</h2>
    </div>
    <div class="col-md-4">
        <h2>Mantenimiento de Sucursales</h2>
    </div>
    <div class="col-md-4">
        <h2>Mantenimiento de Ordenes de Pago</h2>
    </div>
</div>